body > * { background: rgba(255, 0, 0, 0.02); }
body > * > * { background: rgba(0, 255, 0, 0.02); }
body > * > * > * { background: rgba(0, 0, 255, 0.02); }
body > * > * > * > * { background: rgba(255, 255, 0, 0.02); }
body > * > * > * > * > * { background: rgba(0, 255, 255, 0.02); }
body > * > * > * > * > * > * { background: rgba(255, 0, 255, 0.02); }
body > * > * > * > * > * > * > * { background: rgba(255, 255, 255, 0.02); }

body > * { outline: red dotted 1px; }
body > * > * { outline: green dotted 1px; }
body > * > * > * { outline: blue dotted 1px; }
body > * > * > * > * { outline: yellow dotted 1px; }
body > * > * > * > * > * { outline: black dotted 1px; }
body > * > * > * > * > * > * { outline: purple dotted 1px; }
body > * > * > * > * > * > * > * { outline: orange dotted 1px; }

/*
a:focus,
img:focus,
button:focus,
[input] {
  outline: 5px solid orange;
}

input:focus {
background-color: orange;
}
*/

/*.modal, .popup {
	display: none;
}*/

/* ------------------------------------------------------------ */

@font-face {
font-family: Cuprum;
src: url('../fonts/web/cuprum.woff');
src: url('../fonts/web/cuprum.woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Cuprum;
src: url('../fonts/web/cuprumbold.woff');
src: url('../fonts/web/cuprumbold.woff2');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: Cuprum;
src: url('../fonts/web/cuprumitalic.woff');
src: url('../fonts/web/cuprumitalic.woff2');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: Cuprum;
src: url('../fonts/web/cuprumbolditalic.woff');
src: url('../fonts/web/cuprumbolditalic.woff2');
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: PT Sans;
src: url('../fonts/web/ptsans.woff');
src: url('../fonts/web/ptsans.woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: PT Sans;
src: url('../fonts/web/ptsansbold.woff');
src: url('../fonts/web/ptsansbold.woff2');
font-weight: bold;
font-style: normal;
}

/*Все вместе не понял как подключить*/


/* Порядок свойств (в соответствии с кодгайдом) потом отсортирую. Автоматическую сортировку ставить не хочу, надо самому привыкать. */
/* Однако, спроси, как её правильно прикручивать. И про направляющие спросить не забудь. */

/*ТАК ЖЕ Я ВИЖУ, ЧТО ЧАСТЬ СВОЙСТВ ТУТ МОЖНО СХЛОПНУТЬ, НО ПОКА НЕ БУДУ РИСКОВАТЬ, ЧТОБЫ НЕ НАПАРИТЬ, ЗАЙМУСЬ ЭТИМ НА ЭТАПАХ ДОПИЛКИ*/

/*ВООБЩЕ МИНИМАЛЬНУЮ ВЫСОТУ ВЕРНИ ВСЕМ СЕКЦИЯМ, нет, это хреновая идея.*/

/*ДАВАЙ КОГДА МАРАФЕТ БУДЕШЬ НАВАДИТЬ, ДЕЛАЙ ТАК - ТИПОГРАФИКУ ВСЮ ЗАДАВАЙ "КОРОБКЕ", А ДОЧЕРНИМ ЭЛЕМЕНТАМ ИЛИ ИНХЕРИТЬ (ЕСЛИ САМО НЕ ИНХЕРИТИТСЯ),
 ИЛИ ПЕРЕОПРЕДЕЛЯЙ*/

 *, *:before, *:after: {
  box-sizing: border-box;
 }
 /*ВРОДЕ НИЧО НЕ РАЗЛОМАЛ - ЗНАЧИТ В КОДИ ПОЧИСТИ ИХ. ТОЛЬКО ПОСЛЕ КАЖДОЙ ЧИСТКИ ПРОВЕРЯЙ, ЧТО НИЧЕГО НЕ УЕХАЛО*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
	margin: 0;
  padding: 0;
	font-family: "Cuprum", "Arial", sans-serif;
}

a {
	text-decoration: none;
	color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.btn {
  box-sizing: border-box;;
	display: inline-block;
	min-width: 120px;
	padding: 15px 45px;
	border: none;
	font: inherit;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	/*Временные свойства*/
	color: white;
	background-color: black;
	/*Потом собери статистику по ВСЕМ кнопкам сайта и наиболее повторяющиеся свойства добавь в общий базовый класс*/
}

.btn__solo {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 2px;
}

.main-wrapper {
  box-sizing: border-box;
	width: 960px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

/* -----ХЭДЭР------------------------------------------------------- */

.main-header__first-line {
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.main-header__first-line-box {
	display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  text-align: center;

	height: 42px;
}

/* -------------------------------------------------- */

.main-header__logo {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
	width: 220px;
	height: 42px;
	background-color: #ee3643;
	margin: 0px;
	padding: 0px;
	box-shadow: 0 5px 0 0 #b52933;
}

.main-header__logo:hover {
	background-color: #ca2c37;
}

.main-header__logo:active {
	background-color: #ba2732;
}

/* -------------------------------------------------- */

.main-header__search {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 270px;
  height: 42px;
  position: relative;
}

.main-header__search input {
  margin: 0px;
  padding: 0px;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: inherit;
}

/*НЕ ГРУППИРУЮТСЯ*/
input:-moz-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

input::-webkit-input-placeholder {
  opacity: 1;
}

input:-ms-placeholder {
  opacity: 1;
}

input::placeholder {
  opacity: 1;
}

.main-header__search input[placeholder] {
  padding-left: 49px;
  color: #ffffff;
}

.main-header__search input:focus,
.main-header__search input:focus:hover {
  background-color: #ffffff;
  color: #000000;
}

.main-header__search input:focus + svg path {
  fill: #ee3643;
}

.main-header__search input:focus + svg {
  opacity: 1;
}

.main-header__icon-search {
  position: absolute;
  left: 17px;
  top: 12px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

/* -------------------------------------------------- */

.main-header__bookmarks {
  box-sizing: border-box;
	width: 140px;
	height: 42px;
	margin: 0px;
	padding: 0px;
  padding-top: 12px;
  position: relative;
}

.main-header__bookmarks:active {
	background-color: #161d29;
}

.main-header__bookmarks::before {
	content: "";
	position: absolute;
  top: calc(50%-10px);
  left: 11px;
	width: 14px;
	height: 16px;
	background-image: url("../img/svg/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.3;
}

/* -------------------------------------------------- */

.main-header__basket {
  box-sizing: border-box;
	width: 160px;
	height: 42px;
	margin: 0px;
	padding: 0px;
  padding-top: 12px;
  position: relative;
}

.main-header__basket:active {
	background-color: #161d29;
}

.main-header__basket::before {
	content: "";
	position: absolute;
  top: calc(50%-10px);
  left: 21px;
	width: 15px;
	height: 15px;
	background-image: url("../img/svg/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.3;
}

/* -------------------------------------------------- */

.main-header__search input:hover,
.main-header__bookmarks:hover,
.main-header__basket:hover {
	background-color: #212a3a;
}

.main-header__search:hover .main-header__icon-search,
.main-header__bookmarks:hover::before,
.main-header__basket:hover::before {
	opacity: 1;
}

.main-header__bookmarks:active::before,
.main-header__bookmarks:active,
.main-header__basket:active::before,
.main-header__basket:active {
	opacity: 0.6;
}

/* -------------------------------------------------- */

.main-header__btn-order {
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  margin: 0px;
  padding: 0px;
  padding-top: 12px;
}

.main-header__btn-order:hover  {
  background-color: #5fbb2d;
}

.main-header__btn-order:active  {
  opacity: 0.5;
  /*background-color: #518534;     ИЛИ БЭКГРАУНД КАЛОР ТУТ ЛИШНИЙ? (КАК И ВЫШЕ)... ЦВЕТ МЕНЯЕТСЯ ОТ ОПАСИТИ*/
}

/* ------------------------------------------------------------ */

.main-header__second-line {
	background-color: #f4f7f9;
  min-height: 278px;
/*	padding-top: 36px;
	padding-bottom: 60px;*/
}

.main-header__second-line-first-floor-box {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

  padding-top: 46px;
/*	padding-bottom: 78px;*/
}

/* ----- */

.main-title {
	padding: 0px;
	margin: 0px;
	padding-left: 53px;
	padding-right: 60px;
	box-sizing: border-box;

	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	width: 310px;
}

/* ----- */

.main-header__address {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header__phone {
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	width: 264px;
	border: 3px solid #ffffff;
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 72px;
	position: relative;
}

.main-header__phone::before {
	content: "";
	position: absolute;

	left: 13px;
	/*А, вон оно в чём дело, площадке надо "релятив" назначать. Поправь в тех трёх выше тоже. И бокс-сайзинг бордер бокс им задай*/


	width: 20px; /*ПРИМЕРНО*/
	height: 20px; /*ПРИМЕРНО*/

	background-image: url("../img/svg/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* ----- */

.main-header__user-navigation {
	list-style: none;
	margin: 0px;
	padding: 0px;
  margin-left: 76px;

	width: 280px;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
	display: flex;
  flex-shrink: 0;
	justify-content: space-between;
}

.main-header__user-navigation a {
	color: #000000;
	display: inline-block;
	text-align: center;
}

.main-header__login-link {
	box-sizing: border-box;
  width: 120px;
	height: 45px;
	margin-right: 10px;
  padding-left: 10px;
	background-color: #ffffff;
	LINE-HEIGHT: 45px; /*Походу "костыль", но сработало*/
  position: relative;
}

.main-header__login-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  left: 14px;
  top: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17'%3E%3Cpath fill='%23c5c5c5' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%23c5c5c5' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-header__login-link:hover:not(:active)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17'%3E%3Cpath fill='%2332425c' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425c' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E%0A");
}

.main-header__registration-link {
	width: 150px;
	height: 45px;
	background-color: #ffffff;
	LINE-HEIGHT: 45px; /*Походу "костыль", но сработало*/
}

.main-header__login-link:hover,
.main-header__registration-link:hover {
  color: #ee3643;
}

.main-header__login-link:active,
.main-header__registration-link:active {
  color: #b2b2b2;
}

/*----------*/

.main-header__user-navigation--login-on {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 51px;

  position: relative;
}

.main-header__user-profile {
  box-sizing: border-box;

  background-color: #ffffff;

  width: 299px;
  height: 45px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  display: flex;

  padding-left: 47px;
  line-height: 45px;
}

.main-header__user-profile:before {
  content: "";
  position: absolute;
  left: 13px;
  top: 13px;

  background-image: url("../img/svg/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 20px;
  height: 18px;

}

.main-header__logout-link {
  position: absolute;
  right: 10px;
  top: 13px;
  background-image: url("../img/svg/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 21px;
  height: 17px;
}

.main-header__my-order-link,
.main-header__personal-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}


/* -----ГЛАВНАЯ НАВИГАЦИЯ (ХЭДЕР)------------------------------------------------------- */


.main-header__main-navigation {
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	box-shadow: 0 5px 0 0 #293449;

  margin: 0px;
  padding: 0px;
  margin-top: 38px;
}

.main-header__site-navigation {
	list-style: none;
	margin: 0px;
	padding: 0px;

	display: flex;
  justify-content: center;
	align-items: center;
  flex-wrap: wrap;
}

/*
В учебных целях
.main-header__site-navigation li {
  margin-right: 30px;
}
*/

.main-header__navigation-item {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 22px;
	padding-bottom: 26px;
	padding-left: 30px;
  padding-right: 30px;
  height: 55px;
}

.main-header__navigation-item:hover {
  background-color: #293449;
}

.main-header__navigation-item:active {
  opacity: 0.5;
  background-color: #1d2739;
}

/* -----ПРОМО------------------------------------------------------- */

.promo {
	background-color: #ffffff;
	margin-top: 59px;
	margin-bottom: 53px;
}

.promo__first-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.promo__second-box {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
}
/*НЕ ПОНЯЛ КАК СДЕЛАТЬ, ЧТОБЫ ДОСТАВКА НА МЕСТО ВСТАЛА*/

.promo__third-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.promo__item {
  box-sizing: border-box;
	width: 300px;
	height: 123px;
	display: inline-block;
  padding-left: 24px;
  position: relative;
}

.promo__item h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
}

.promo__detail {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

  width: 135px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);

  margin-top: 20px;
}

.promo__item:before {
  content: "";
  position: absolute;
  top: 30%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.promo__item--materials {
	background-color: #ffbf47;
}

.promo__item--materials:before {
  width: 44px;
  height: 65px;
  background-image: url("../img/svg/icon-1.svg");
  right: 43px;
}

.promo__item--instruments {
	background-color: #3bbce3;
}

.promo__item--instruments:before {
  width: 75px;
  height: 61px;
  background-image: url("../img/svg/icon-2.svg");
  right: 28px;
}

.promo__item--equipment {
	background-color: #dc91d8;
}

.promo__item--equipment:before {
  width: 78px;
  height: 62px;
  background-image: url("../img/svg/icon-3.svg");
  right: 31px;
}

.promo__item--discounts {
	background-color: #8ed78f;
}

.promo__item--discounts:before {
  width: 59px;
  height: 72px;
  background-image: url("../img/svg/icon-4.svg");
  right: 45px;
}

.promo__item--delivery {
	background-color: #ffc047;
}

.promo__item--delivery:before {
  width: 78px;
  height: 63px;
  background-image: url("../img/svg/icon-5.svg");
  right: 31px;
}

/*Далее слайдер*/

.promo__slider {
	width: 620px;
	height: 266px;
	flex-shrink: 0;
	position: relative;
}

.promo__slider-item {
	width: 100%;
  height: 100%;
	position: absolute;
	left: 0;
  top: 0;
  background-repeat: no-repeat;
  display: none;
}

.promo__slider-item:nth-of-type(1) {
  background-image: url("../img/man-1-new.jpg");
}

.promo__slider-item:nth-of-type(2) {
  background-image: url("../img/man-2-new.jpg");
}

.promo__pagination-item:nth-of-type(1):checked ~ .promo__slider-list .promo__slider-item:nth-of-type(1) {
	display: block;
}

.promo__pagination-item:nth-of-type(2):checked ~ .promo__slider-list .promo__slider-item:nth-of-type(2) {
	display: block;
}

.promo__check {
	position: absolute;
	width: 30px;
	height: 10px;
	z-index: 1;
	bottom: 67px;
	left: 50%;
	margin-left: -10px;
	display: flex;
	justify-content: space-between;
}
/*Блин, походу коробку криво позиционировал. Ладно, потом.*/

.promo__check-item {
  position: relative;
	font-size: 0px;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.promo__check-item::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;

  display: none;
}

.promo__pagination-item:nth-of-type(1):checked ~ .promo__check .promo__check-item:nth-of-type(1)::after {
  display: block;
}

.promo__pagination-item:nth-of-type(2):checked ~ .promo__check .promo__check-item:nth-of-type(2)::after {
  display: block;
}




/*position:absolute;top:25px;left:25px;width:50px;height:50px;background:black;border-radius:25px*/

/*
1) Не забудь из сделать видимыми через фокус-таб индекс
2) Внутренний красный кружок - второй бэкграунд колор (смотри продвинутый курс фонов)
*/

.promo__pagination-item:nth-of-type(1):checked ~ .promo__check .promo__check-item:nth-of-type(1)::after {
	background-color: red;
}

.promo__pagination-item:nth-of-type(2):checked ~ .promo__check .promo__check-item:nth-of-type(2)::after {
	background-color: red;
}



.promo__slider h4 {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #ffffff;
	text-transform: uppercase;
}

.promo__slider p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.promo__btn {
	position: absolute;
	left: 5%;
	bottom: 5%;

  min-width: 195px;
}

.promo__arrow {
	position: absolute;
	width: 40px; /*ПОКА ПРИМЕРНО*/
	height: 40px; /*ПОКА ПРИМЕРНО*/
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 150;
}

.promo__arrow-left {
	background-image: url("../img/svg/icon-left.svg");
	left: 10px;
	top: 50%;
}

.promo__arrow-right {
	background-image: url("../img/svg/icon-right.svg");
	right: 10px;
	top: 50%;
}

/* -----ПОПУЛЯРНЫЕ ТОВАРЫ------------------------------------------------------- */

.popular-products {
	background-color: #ffffff;
	margin-bottom: 21px;
}

.popular-products__first-box {
	display: flex;
	justify-content: space-between;
	background-color: #f9f5f0;
	align-items: baseline;
	min-height: 89px;
}

.popular-products h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	margin-left: 30px;
}

.popular-products__btn {
	margin-right: 24px;
}

.popular-products__list {
	list-style: none;
	margin: 0px;
	padding: 0px;

	display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}



.popular-products__item,
.catalog__item {
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 318px;

  text-align: center;

  position: relative;
}

.catalog__item {
  margin-bottom: 20px;
}

.popular-products__item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.catalog__item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.popular-products__item h3,
.catalog__item h4 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
  margin: 0px;
  padding: 0px;
  margin-bottom: 18px;
}

.popular-products__old-price,
.catalog__old-price {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;

  margin-bottom: 12px;
}

.popular-products__new-price,
.catalog__new-price {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

/*  Вот тут это имеет смысл, вероятно! Но как сделать, чтобы бэкграунд колор, не перекрывал бэкграунд имэйдж?*/
/*  background-color: #ee3643;*/

	background-image: url("../img/svg/red-button.svg");
	background-repeat: no-repeat;
  background-position: center;
  width: 141px;
  height: 38px;
  line-height: 38px;

  position: absolute;
  bottom: 20px;
  left: 42px;
}


.popular-products__item--new {
/*  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4.85px;
  line-height: 5.13px;
  color: #ffffff;*/
}



/* -----ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ------------------------------------------------------- */

.popular-brands {
	background-color: #ffffff;
	margin-bottom: 85px;
}

.popular-brands__first-box {
	display: flex;
	justify-content: space-between;
	background-color: #f9f5f0;
	align-items: baseline;
	min-height: 89px;
}

.popular-brands h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	margin-left: 30px;
}

.popular-brands__btn {
	margin-right: 24px;
}

.popular-brands__item-list {
	display: flex;
	flex-wrap: wrap;
  flex-shrink: 0;
}

.popular-brands__item-card {
	width: 218px;
	height: 143px;
	border: 1px solid #eaeaea;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-brands__item-card:not(:nth-of-type(4n)) {
  margin-right: 20px;
}

/* -----СЕРВИСЫ------------------------------------------------------- */

.services {
	background-color: #f4f8f9;
  min-height: 523px;
}

.services__header h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services__header p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

/* ---------- */

.services__slider {
  display: flex;
  position: relative;
}

.services__selection {
	list-style: none;
	margin: 0px;
	padding: 0px;

  margin-right: 80px;
}

.services__item {
  display: block;
  width: 240px;
  height: 61px;

  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  cursor: pointer;
}



#service-item-1:checked ~ .services__slide:nth-of-type(1) {
  display: block;
}

#service-item-2:checked ~ .services__slide:nth-of-type(2) {
  display: block;
}

#service-item-3:checked ~ .services__slide:nth-of-type(3) {
  display: block;
}



.services__slide {
  display: none;
  width: 620px;
}

.services__slide:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 20%;
}

.services__slide h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.services__slide p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.services__slide--delivery {
  width: 300px;
}

.services__slide--delivery::after {
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");

}

.services__slide--warranty {
  width: 380px;
}

.services__slide--warranty::after {
  width: 389px;
  height: 283px;
  background-image: url("../img/warranty.png");
}

.services__slide--credit {
  width: 285px;
}

.services__slide--credit::after {
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
}

/* -----О КОМПАНИИ и КОНТАКТЫ------------------------------------------------------- */

.about {
	background-color: #ffffff;
}

.about-box {
	display: flex;
	position: relative;
	min-height: 537px;
}

.about__header h2,
.contacts h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.about__header p,
.contacts p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.about__list {
	list-style: none;
	margin: 0px;
	padding: 0px;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

/* --------------------------ФУТЕР---------------------------------- */
.main-footer__first-line {
	background-color: #32425c;
  padding-bottom: 55px;
}

.main-footer__first-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 30px;
}

.main-footer__second-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-footer__navigation {
	list-style: none;
	margin: 0px;
	padding: 0px;

  display: inline-flex;
}

.main-footer__navigation-item {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;

  margin-left: 60px;
}



.main-footer__address,
.main-footer__phone {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;

  margin-left: 4px;
}

.main-footer__phone {
  margin: 0px;
}



.main-footer__catalog {
	list-style: none;
	margin: 0px;
	padding: 0px;

  display: inline-flex;
}

.main-footer__catalog-item {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;

  margin-left: 60px;
}


.main-footer__navigation-item:hover,
.main-footer__catalog-item:hover {
  text-decoration: underline;
}

.main-footer__navigation-item:active,
.main-footer__catalog-item:active {
  opacity: 0.5;
  text-decoration: none;
}



.main-footer__second-line {
  background-color: #293449;
}

.main-footer__third-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  min-height: 107px;
}

.main-footer__copyright {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

  margin: 0px;
  padding: 0px;

  margin-right: 160px;
}

.main-footer__social-list {
	list-style: none;
	margin: 0px;
	padding: 0px;

  display: flex;

  margin-right: 120px;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 5px;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}


.main-footer__feedback,
.main-footer__developer {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

  width: 140px;
}

.main-footer__feedback a,
.main-footer__developer a {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.main-footer__feedback a:hover,
.main-footer__developer a:hover {
  text-decoration: underline;
}

.main-footer__feedback a:active,
.main-footer__developer a:active {
  color: #ee3643;
  text-decoration: none;
}

.main-footer__feedback {
  margin-right: 53px;
}

.main-footer__developer {
  width: 96px;
}


/* ------------------------------++++++++++ДАЛЕЕ КАТАЛОГ++++++++++------------------------------ */

.main-header__basket--in-stock {
	background-color: #ee3643;
}

.main-header__user-link a {
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.main-header__user-menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-header__order-link a,
.main-header__personal-link a {
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

/* -------------------------- ХЛЕБНЫЕ КРОШКИ - НАВИГАЦИОННАЯ ЦЕПОЧКА---------------------------------- */

.breadcrumbs {
	list-style: none;
	margin: 0px;
	padding: 0px;

	position: relative;
}

.breadcrumbs__item {
	display: inline;
	padding-left: 39px;
	margin: 0;
	padding: 0;
	margin-left: 40px;
}

.icon-home {
	content: "";
	width: 15px; /*ПРИМЕРНО*/
	height: 15px; /*ПРИМЕРНО*/
	background-image: url("../img/svg/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	left: 0px;
	bottom: 2px;
}

.breadcrumbs__item:nth-child(1n+2)::before {
	content: "";
	width: 8px; /*ПРИМЕРНО*/
	height: 12px; /*ПРИМЕРНО*/
	background-image: url("../img/svg/icon-right-gray.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	margin-left: -22px;
	bottom: 15%;
}

.breadcrumbs a {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

/* ----------------------------ЗАГОЛОВОК ВСЕЙ СТРАНИЦЫ - ПЕРФОРАТОРЫ-------------------------------- */

.page-section__title {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

	padding-top: 33px;
	padding-bottom: 35px;
	padding-left: 30px;
	background-color: #f2f6f8;

	width: auto;
}

/* ------------------------------------------------------------ */

.option-wrapper {
	display: flex;
}

.option-wrapper__left {
	width: 220px;
	padding-right: 5px;
}

.option-wrapper__right {
	width: 700px;
	padding-left: 5px;
}



.filters {
	background-color: #ffffff;
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.filters legend {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}
/*Внимание! Похоже у "питания" другой межсимвольный интервал!*/

.filters fieldset {
	border: none;
	margin: 0px;
	padding: 0px;
}

.filters label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}

.products-search-title {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	padding-top: 14px;
	padding-bottom: 15px;
	padding-left: 18px;
	background-color: #f7f3ec;
	border-radius: 2px;
}

.range__box {
	background-color: #f7f3ec;
	border-radius: 2px;
	position: relative;
	width: 220px;
	height: 80px;
}

.range__regulator,
.range__line {
	position: absolute;
}

.range__regulator {
	cursor: pointer;
	width: 20px;
	height: 23px;
	background-image: url("../img/svg/filter-button.svg");
}

.range__regulator--left {
	left: 20px;
	top: 50%;
	margin-top: -10px;
}

.range__regulator--right {
	right: 40px;
	top: 50%;
	margin-top: -10px;
}

.range__line--green {
	top: 28px;
	left: 40px;
}

.range__line--gray {
	top: 28px;
	right: 20px;
}

.filters__price-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filters__select-price-box {
	width: 95px;
	height: 38px;
	background-color: #f7f3ec;
	border-radius: 2px;
	display: flex;
	margin-top: 9px;
}

.filters__select-price-box input {
	text-align: center;
	margin: auto;
	width: 50%;
	background-color: inherit;
	border: none;
}

.filters__price-input-diapason {
	margin-top: 10px;
}


/*---------- ПРОИЗВОДИТЕЛИ ----------*/

/*СДЕЛАЙ, ЧТОБЫ ОНИ ТАБАЛИСЬ!... Точнее Ховер и Фокус... Думаю, это один стиль */
/*ТАМ КОЛОР ОВЕРЛЭЙ ПОХОДУ... В ОБЩЕМ ЭТИ 2 ЭФФЕКТА ПОТОМ ДОПИЛЮ, ПОКА ХВАТИТ*/

.filters__manufacturers-list {
	position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.filters__manufacturers-item {
	margin-bottom: 18px;
}

.filters__manufacturers-label {
	margin-left: 35px;
}

.filters__manufacturers-checkbox {
	background-image: url("../img/svg/checkbox-off.svg");
	position: absolute;
	left: 0px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.filters__manufacturers-input:checked + .filters__manufacturers-checkbox {
	background-image: url("../img/svg/checkbox-on.svg");
	width: 27px;
	height: 23px;
}

/*А КАКОГО УРОВНЯ ВЛОЖЕННОСТИ СЧИТАЕТСЯ ЭТОТ СЕЛЕКТОР? ВТОРОГО?*/
.filters__manufacturers-input:disabled + .filters__manufacturers-checkbox,
.filters__manufacturers-input:disabled ~ .filters__manufacturers-brand {
	opacity: 0.4;
}

/*На счёт курсора не уверен, надо ли его менять*/
.filters__manufacturers-brand {
	cursor: pointer;

	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
}

/*---------- ПИТАНИЕ ----------*/

.filters__power-list {
	position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.filters__power-item {
	margin-bottom: 16px;
}

.filters__power-label {
	margin-left: 35px;
}

.filters__power-radio {
	background-image: url("../img/svg/radio-off.svg");
	position: absolute;
	left: 0px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.filters__power-input:checked + .filters__power-radio {
	background-image: url("../img/svg/radio-on.svg");
	width: 25px;
	height: 25px;
}

.filters__power-input:disabled + .filters__power-radio,
.filters__power-input:disabled ~ .filters__power-brand {
	opacity: 0.4;
}

/*На счёт курсора не уверен, надо ли его менять*/
.filters__power-brand {
	cursor: pointer;

	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
}

/*----КНОПКА ОТПРАВКИ ФОРМЫ----*/

.filters__submit {
	background-color: #ffffff;
	width: 138px;
	min-height: 36px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}


/* ---------------------------СОРТИРОВКИ--------------------------------- */

.catalog {
	background-color: #ffffff;
}




.sort-box {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;

	box-sizing: border-box;
	width: 700px;
	padding-top: 14px;
	padding-bottom: 15px;
	padding-left: 19px;

	background-color: #f7f3ec;
	border-radius: 2px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;

	position: relative;
}

.products-sort-title {
	font-weight: inherit;
	margin: 0px;
	padding: 0px;
}

.sort-box__list {
	list-style: none;
	margin: 0px;
	padding: 0px;

	margin-right: 17px;
	margin-left: 140px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	flex-grow: 1;
}

.sort-item {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: #acaaa5;
	border-bottom: 1px red dotted;
	/*Возможно там чёрный цвет и опасити*/
}

.sort-item--current {
	color: #ee3643;
	border-bottom: none;
}

.ascending::before {
	position: absolute;
	content: "";
	width: 11px;
	height: 10px;

	background-image: url("../img/svg/icon-up-dir.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.descending::before {
	position: absolute;
	content: "";
	width: 11px;
	height: 10px;

	background-image: url("../img/svg/icon-down-dir.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}




.buy-btn {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
}

.bookmarks-btn {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	text-transform: uppercase;
}




/* Сам каталог, видимо, тут... Но все итемы выше, в разделе популярных товаров*/
.catalog__list {
	list-style: none;
	margin: 0px;
	padding: 0px;

	display: flex;
	flex-wrap: wrap;
  flex-shrink: 0;

	width: 700px;
}

.catalog-btn {
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;

  padding: 0px;
  margin: 0px;

  line-height: 38px;
}

.catalog-buy-btn {
  border-bottom: 3px solid #367315;
  margin-bottom: 8px;
  color: #ffffff;
  background-color: #63a63e;

  margin-top: 43px;
}

.catalog-bookmarks-btn {
  border: 3px solid #63a63e;
  color: #32425c;
  background-color: #ffffff;

  margin-bottom: 47px;
}

/* --------------------------ПАГИНАЦИЯ КАТАЛОГА---------------------------------- */

.catalog__pagination-list {
	list-style: none;
	margin: 0px;
	padding: 0px;

	width: 134px;
	height: 36px;

	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;

}

.catalog__pagination-item {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	/*line-height: 18px;*/
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;

	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	text-align: center;
	line-height: 36px;
}

.catalog__pagination-item--current {
	color: #ffffff;
	background-color: #ee3643;
}

.catalog__pagination-item--next {
	display: inline-block;
	width: 138px;
}

/* --------------------------ПАРА СЛОВ О ПЕРФОРАЦИИ---------------------------------- */

.about-perforators h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.about-perforators p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}


/* -------------------------А ЭТО ЗАЧЕМ? НЕ ПОМНЮ----------------------------------- */

.about-perforators {
	background-color: #f2f6f8;
}


/* -------------------------МОДАЛЫ И ПОПУПЫ----------------------------------- */

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: ease;
  opacity: 0;
  visibility: hidden;
}

.modal.is-opened {
  opacity: 1;
  visibility: visible;
}


/*
.write-us {
	width: 620px;
	min-height: 423px;
	border: 1px solid grey;
	box-shadow: 0	-7px 0 0 #ff5257;
	margin: auto;
	position: relative;
}

.write-us__letter-wrapper {
	width: 460px;
	margin: auto;
}

.write-us__user-info {
	display: flex;
	justify-content: space-between;
}

.write-us textarea {
	width: 460px;
	height: 110px;
	resize: none;
}

ДАЛЕЕ ЭПИЧЕСКАЯ БИТВА ЗА СЕРУЮ ПОЛОСУ ВНИЗУ ФОРМЫ
А вроде можно ведь частичную заливку цветом сделать... ты повспоминай

.write-us::after {
	content: "БЛЯ ЧТО НЕ ТАК, НУ ЗАЕБИСЬ ЖЕ ПРИДУМАЛ. ЭТО ПОТОМУ ЧТО ТЫ ФОРМА, ДА?"
	color: black;
	width: 620px;
	height: 112px;
	background-color: #f4f4f4;
	position: absolute;
}

.NEPSEVDOELEMENT {
	width: 620px;
	height: 112px;
	background-color: #f4f4f4;
	position: relative;
}

.NEPSEVDOELEMENT .btn__red {
	position: absolute;
	left: 50%;
	top: 50%;
}

Бля, трэш какой...

.write-us .button_close {
	background-color: transparent;
	border: none;
	position: absolute;
	right: 10px;
	top: 10px;
}

Там ещё слабые размытые тени во все стороны! не забудь их добавить

.map-popup {
	position: absolute;
	margin: auto;
	opacity: 0.1;
	width: 940px;
	height: 446px;
}*/
